.parent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.left-container {
    flex: 1;
    max-width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    height: 400px;
    width: 400px;
}

img:hover {
    background-color: rgba(255, 255, 255, .1);
}

img:active {
    background-color: rgba(255, 255, 255, .3);
}

.right-container {
    flex: 1;
    max-width: 40%;
    height: 90vh;
    overflow-y: auto;
}

@media screen and (max-width: 600px) {
    .parent {
      flex-direction: column;
    }
  
    .left-container,
    .right-container {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

mat-card {
    width: 45%;
    text-align: center;
}

::ng-deep body {
    background-image: url("/assets/background.jpg");
    background-attachment: fixed;
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    object-fit: contain;
}
