img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: xx-large;
}

td, th {
    text-align: center;
}

.outline {
    border: 1px solid black;
}

label, tr {
    font-size: large;
}

select {
    font-size: large;
}

.center {
    text-align: center;
}

.white_text_black_outline {
    text-align: center;
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

body {
    font-family: Helvetica, sans-serif;
    background-image: url("../background.jpg");
    background-attachment: fixed;
}

/* 
    From https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapse_sidebar 
    Modified by me
*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; /* Puts this on top of page */
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
}
    .sidebar .submenu {
        height: 0;
        width: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        overflow: hidden; /* Hides Scroll bar*/
        transition: 0.25s;
        text-align: center;
    }

    .sidebar .unbutton {
        /* https://stackoverflow.com/questions/1367409/how-to-make-button-look-like-a-link */
        background: none !important;
        border: none;
        cursor: pointer;

        padding-top: 8px;
        padding-bottom: 8px;
        text-decoration: none;
        font-size: 20px;
        color: #c1c1c1;
        display: block;
        transition: 0.3s;
        min-width: 250px; /* Makes content static during transition */
    }
        .sidebar .unbutton:hover {
            color: #f1f1f1;
        }

    .sidebar a {
        padding-top: 8px;
        padding-bottom: 8px;
        text-decoration: none;
        font-size: 20px;
        color: #c1c1c1;
        display: block;
        transition: 0.3s;
        min-width: 250px; /* Makes content static during transition */
    }

    .sidebar h1 {
        padding-top: 8px;
        display: block;
        transition: 0.3s;
        min-width: 250px; /* Makes content static during transition */
    }

    .sidebar a.current_page {
        color: #818181;
    }

        .sidebar a:hover {
            color: #f1f1f1;
        }

    .sidebar hr {
        margin-bottom: 16px;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    opacity: 0.35;
}

    .openbtn:hover {
        background-color: #444;
    }

#main {
    transition: margin-left .5s;
    padding: 16px;
    position: fixed;
    z-index: 1;
}