img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: xx-large;
}

td, th {
    text-align: center;
}

.outline {
    border: 1px solid black;
}

label, tr {
    font-size: large;
}

select {
    font-size: large;
}

.center {
    text-align: center;
}

.white_text_black_outline {
    text-align: center;
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}