@import url(../../../../node_modules/rpg-awesome/css/rpg-awesome.css);

button {
  margin: 3px;
}

.container-container {
  overflow: auto;
  width: 100%;
  height: 85vh;
}

.container {
  position: relative;
  border: 2px dashed #999;
  background: #f0f0f0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}
  
.icon {
  position: absolute;
  width: 32px;
  height: 32px;
  font-size: 28px;
  cursor: move;
  user-select: none;
}

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}