h1 {
    color: #ff0000;
}

select option:disabled {
    color: #ff006e;
    font-weight: lighter;
}

/* For mobile: */
.column {
    float: left;
    padding-left: 10.5%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .column {
        float: left;
        width: 35%;
        padding-left: 10.5%;
    }
}



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.calculate {
    margin: auto;
    width: 50%;
    align-content: center;
}

div.backdrop {
    background-color: #8b8f86;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

input[type='radio'], input[type='checkbox'], button.enlarge {
    transform: scale(1.5);
}

.fit_to_div {
    width: 70%;
}

input, select {
    margin-bottom: 5px;
    margin-top: 5px;
}