h1 {
    color: #ff0000;
}

select option:disabled {
    color: #ff006e;
    font-weight: lighter;
}

.column {
    float: left;
    width: 35%;
    padding-left: 10.5%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.calculate {
    margin: auto;
    width: 50%;
    align-content: center;
}

div.backdrop {
    background-color: #8b8f86;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}