h1 {
    color: #ff0000;
}

h2 {
    margin-left: 25%;
    margin-right: auto;
}

select option:disabled {
    color: #ff006e;
    font-weight: lighter;
}

/* For mobile: */
.column {
    float: left;
    padding-left: 10.5%;
}

input[type='checkbox'] {
    transform: scale(1);
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .column {
        float: left;
        width: 35%;
        padding-left: 10.5%;
    }
    input[type='checkbox'] {
        transform: scale(1.5);
    }
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.calculate {
    margin: auto;
    width: 50%;
    align-content: center;
}

div.backdrop {
    background-color: #a1a69c;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.fit_to_div {
    width: 70%;
}

input[type="number"] {
    width: 45%;
}

input, select {
    margin-bottom: 5px;
    margin-top: 5px;
}

input.conditionals {
    margin-left: 8px;
    margin-right: 16px;
}

.border_bottom {
    border-bottom: 1px solid #000;
}

.space_above {
    margin-top: 15px;
}

div.disclaimer {
    background-color: #fad4d4;
    width: 90%;
    border: 3px solid red;
    color: red;
    margin-left: auto;
    margin-right: auto;
}

.disclaimer_close {
    position: absolute;
    padding: 10px 10px;
    border: none;
    background: none;
    cursor: pointer;
    right: 6%;
}

.disclaimer_close:hover {
    color:lightgray;
}