.outline {
    border: 1px solid black;
}

td, th {
    text-align: center;
}

tr.alternating_colors_header {
    background: #96c993;
}

tr:nth-child(even).alternating_colors {
    background: #d7f5d5;
}

tr:nth-child(odd).alternating_colors {
    background: #FFF;
}

table {
    margin: auto;
    width: 80%;
}

.middle_right {
    position: absolute;
    top: -30px;
    right: 10%;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.white_text_black_outline {
    text-align: center;
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

select {
    border: 3px solid #198013;
    font-size: medium;
}

body {
    background-image: url("../img/background.png");
    background-size: cover;
    background-attachment: fixed;
}

.white_background {
    background: #FFF;
}

.center {
    text-align: center;
}

.lg_background {
    background: #d7f5d5;
}

label, tr {
    font-size: large;
}

h1 {
    font-size: xx-large;
}